.cart-page {
    width: 26%;
    background-color:#e9ecef;
    position: absolute;
    /* float: bottom; */
    top: 150px;
    right: 20px;
    padding: 5px 3px;
    border-radius: 10px;
    margin-left: 3px;
    border: 2px solid black;
}

.cart-page button {
    border: 2px solid black;
    border-radius: 50%;
    
    background-color: transparent;
    float: right;
    margin-right:3px;
    margin-top: 2px;
    /* color:rgb(0, 0, 0); */
}


@media screen and (max-width: 1600px) {
    .cart-page {
        width: 28%;
    }
}
@media screen and (max-width: 1350px) {
    .cart-page {
        width: 40%;
    }
}
@media screen and (max-width: 1000px) {
    .cart-page {
        width: 45%;
    }
}
@media screen and (max-width: 800px) {
    .cart-page {
        width: 55%;
    }
}
@media screen and (max-width: 700px) {
    .cart-page {
        width: 65%;
    }
}
@media screen and (max-width: 600px) {
    .cart-page {
        width: 95%;
        right: 10px;
    }

}
