.cart-page {
    padding: 5px 3px;
    height: 72vh;
    border-radius: 10px;
    margin-left: 3px;
    overflow-y: auto;
}
.cart-page::-webkit-scrollbar{
    display: none;
}
.close-btn{
    border: none;
}
.cart-page button {
    background-color: transparent;
    float: right;
    /* margin-right:3px; */
    /* margin-top: 2px; */
}

/* 
@media screen and (max-width: 1600px) {
    .cart-page {
        width: 28%;
    }
}
@media screen and (max-width: 1350px) {
    .cart-page {
        width: 40%;
    }
}
@media screen and (max-width: 1000px) {
    .cart-page {
        width: 45%;
    }
}
@media screen and (max-width: 800px) {
    .cart-page {
        width: 55%;
    }
}
@media screen and (max-width: 700px) {
    .cart-page {
        width: 65%;
    }
}
@media screen and (max-width: 600px) {
    .cart-page {
        width: 95%;
        right: 10px;
    }

} */
