.cart-page {
    width: 26%;
    background-color:#e9ecef;
    position: absolute;
    top: 125px;
    right: 20px;
    padding: 7px 3px;
    border-radius: 10px;
    margin-left: 3px;
    
}

.cart-page button {
    border: 1px solid black;
    border-radius: 50px;
    background-color:transparent;
    float: right;
    margin-right: 5px;
    margin-top: 5px;
    color:red;
    

}


@media screen and (max-width: 1600px) {
    .cart-page {
        width: 28%;
    }
}
@media screen and (max-width: 1350px) {
    .cart-page {
        width: 40%;
    }
}
@media screen and (max-width: 1000px) {
    .cart-page {
        width: 45%;
    }
}
@media screen and (max-width: 800px) {
    .cart-page {
        width: 55%;
    }
}
@media screen and (max-width: 700px) {
    .cart-page {
        width: 65%;
    }
}
@media screen and (max-width: 600px) {
    .cart-page {
        width: 95%;
        right: 10px;
    }

}
