.logo {
    width: 120px;
}
.App{
    margin: 0;
}
.header-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
}
body {
    background-color: #e0e0e0;
}

.cart-btn:focus {
    border: none;
    
}

.cart-btn:hover{
    color: black;
}
